{% extends 'base.html.twig' %}
{% block body %}
    <!-- slider Area End-->
    <!-- Services Area Start-->
    <div class="service-area ">
        <div class="container">
            <div class="row">
                <div class="col-lg-4" onclick="location.href='/evenement/showacceuilevent';">
                    <div class="singl-services text-center mb-60">
                        <div class="top-caption">
                            <h4 style="text-align: center">Tous les événements</h4>
                        </div>
                        <div class="services-img " >

                            <img style height="237px" width="237px" src="{{asset('img/service/allevents.jpg')}}" alt="">
                            <div class="back-flower">
                                <img src="{{asset('img/service/services_flower1.png')}}" alt="">
                            </div>

                        </div>
                        <div class="bottom-caption">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4" onclick="location.href='/evenement/indexEvent/'+{{app.user.idUser}};">
                    <div class="singl-services text-center mb-60">
                        <div class="top-caption">
                            <h4 style="text-align: center">Mes événements</h4>
                        </div>
                        <div class="services-img">
                            <img style height="237px" width="237px" src="{{asset('img/service/mesevents.jpg')}}" alt="">
                            <div class="back-flower">
                                <img src="{{asset('img/service/services_flower1.png')}}" alt="">
                            </div>
                        </div>
                        <div class="bottom-caption">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" onclick="location.href='/evenement/new/'+{{  app.user.idUser }};">
                    <div class="singl-services text-center mb-60">
                        <div class="top-caption">
                            <h4 style="text-align: center">Ajouter une événement</h4>
                        </div>
                        <div class="services-img">
                            <img style height="237px" width="237px" src="{{asset('img/service/ajoutevent.png')}}" alt="">
                            <div class="back-flower">
                                <img src="{{asset('img/service/services_flower1.png')}}" alt="">
                            </div>
                        </div>
                        <div class="bottom-caption">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}