{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2  hero-overly d-flex align-items-center" data-background="assets/img/hero/about_hero.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Our Gallery</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdEvent</th>
                <th>TitreEvent</th>
                <th>ImageEvent</th>
                <th>Categorie</th>
                <th>Description</th>
                <th>DateDeb</th>
                <th>DateFin</th>
                <th>Location</th>
                <th>NbMax</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.idEvent }}</td>
                <td>{{ evenement.titreEvent }}</td>
                <td>{{ evenement.imageEvent }}</td>
                <td>{{ evenement.categorie }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.dateDeb }}</td>
                <td>{{ evenement.dateFin }}</td>
                <td>{{ evenement.location }}</td>
                <td>{{ evenement.nbMax }}</td>
                <td>{{ evenement.prix }}</td>
                <td>
                    <button class="btn"><a href="{{ path('evenement_show', {'idEvent': evenement.idEvent}) }}">show</a></button>
                    <button class="btn"><a href="{{ path('evenement_edit', {'idEvent': evenement.idEvent}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn"><a href="{{ path('evenement_new',{'idUser': app.user.idUser}) }}">Create new</a></button>
{% endblock %}
