{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2  hero-overly d-flex align-items-center" data-background="{{asset('img/hero/eventheader.jpg')}}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Mes événements</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Image</th>
                <th>Categorie</th>
                <th>Description</th>
                <th>Date Début</th>
                <th>Date Fin</th>
                <th>Localisation</th>
                <th>Nombre max</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.titreEvent }}</td>
                <td>{{ evenement.imageEvent }}</td>
                <td>{{ evenement.categorie }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.dateDeb }}</td>
                <td>{{ evenement.dateFin }}</td>
                <td>{{ evenement.location }}</td>
                <td>{{ evenement.nbMax }}</td>
                <td>{{ evenement.prix }}</td>
                <td>
                    <button class="btn"><a href="{{ path('evenement_singleshowevent', {'idEvent': evenement.idEvent}) }}">show</a></button>
                    <button class="btn"><a href="{{ path('evenement_edit', {'idEvent': evenement.idEvent}) }}">edit</a></button>
                    {{ include('evenement/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn"><a href="{{ path('evenement_new',{'idUser': app.user.idUser}) }}">Create new</a></button>
{% endblock %}
