{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Détails évenement!</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id évenement</th>
                <td>{{ evenement.idEvent }}</td>
            </tr>
            <tr>
                <th>Titre </th>
                <td>{{ evenement.titreEvent }}</td>
            </tr>
            <tr>
                <th>Image </th>
                <td>{{ evenement.imageEvent }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ evenement.categorie }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>Date début</th>
                <td>{{ evenement.dateDeb }}</td>
            </tr>
            <tr>
                <th>Date fin</th>
                <td>{{ evenement.dateFin }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ evenement.location }}</td>
            </tr>
            <tr>
                <th>Nombre max</th>
                <td>{{ evenement.nbMax }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ evenement.prix }}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn"><a href="{{ path('evenement_eventsadmin')}}">retour</a></button>




{% endblock %}
