{% extends 'base.html.twig' %}
{% block body %}

<!-- slider Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2  hero-overly d-flex align-items-center" data-background="assets/img/hero/about_hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Our Gallery</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider End -->


<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">

        <div class="row">

            <div class="col-lg-8 mb-5 mb-lg-0">

                <div class="blog_left_sidebar">
                    {% for evenement in evenements %}

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0"  src="{{asset( evenement.imageEvent )}}" alt="">

                            <div class="blog_item_date">
                                <p>Date début : {{ evenement.dateDeb}}</p>
                                <p>Date fin : {{ evenement.dateFin }}</p>
                            </div>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="{{ path('evenement_singleshowevent', {'idEvent': evenement.idEvent}) }}">
                                <h2>{{ evenement.titreEvent }}</h2>
                            </a>
                            <p class="desc">{{ evenement.description }}</p>
                            <ul class="blog-info-link">
                                <li><i class="fa fa-paper-plane"></i> {{ evenement.categorie }}</a></li>
                            </ul>
                        </div>
                    </article>
                    {% endfor %}



                </div>

            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form method="POST">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="titreEvent" placeholder='rechercher par titre'
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'rechercher par titre'">
                                    <div class="input-group-append">
                                        <button class="btns" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">recherche</button>
                        </form>
                    </aside>
                </div>
            </div>
        </div>

    </div>

</section>
{% endblock %}